@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/inter-variable.woff2) format("woff2-variations");
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .main-background {
    background: radial-gradient(50% 50% at 50% 50%, #9747ff 0%, #171717 100%);
  }

  .blur-container {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(250, 250, 250, 0.1);
    border: 1px solid rgba(250, 250, 250, 0.18);
  }
}
